@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: #e5e5e5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}